<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/public/static/js/messenger/messenger.css">
        <link rel="stylesheet" type="text/css" href="/public/static/js/messenger/messenger-theme-future.css">
        <link rel="stylesheet" type="text/css" href="/public/static/js/ztree/zTreeStyle.css">
        <link rel="stylesheet" type="text/css" href="/public/static/js/bootstrap4.0/css/bootstrap.css" />
        <link href="/public/static/js/bootstrap4.0/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/public/static/css/global.css" />

        <script src="/public/static/js/jquery-3.3.1.min.js"></script>
        <script src="/public/static/js/popper.min.js"></script>
        <script src="/public/static/js/bootstrap4.0/js/bootstrap.js"></script>
        <script src="/public/static/js/messenger/messenger.min.js"></script>
        <script src="/public/static/js/ztree/jquery.ztree.all.min.js"></script>
        <script src="/public/static/js/global.js"></script>
        <script src="/public/static/js/angular-1.6.9/angular.js"></script>
        <script src="/public/static/js/angular-1.6.9/angular-route.js"></script>
        <script src="/public/static/js/angular-1.6.9/angular-sanitize.js"></script>
        <script src="/public/static/js/angular-modules.js"></script>
        <script>
            app.controller('resource-index', function($scope, $http, $filter) {
                $(function(){
                    $('[data-toggle="tooltip"]').tooltip({trigger:'manual'});
                    $('#editModal').on('hide.bs.modal',function(){
                        $scope.group = {};
                        $('#group_name').tooltip('hide');
                    })
                    $('#resourceModal').on('hide.bs.modal',function(){
                        $scope.entity = {};
                        $scope.entity.group_id = $scope.groupId;
                        var ids = ['res_name','url'];
                        for(var i in ids){
                            $('#'+ids[i]).tooltip('hide');
                        }
                    })
                })

                $scope.group = {};
                $scope.page = {};
                $scope.entity = {};
                $scope.page.pageIndex = 0;
                $scope.page.totalPage = 0;
                $scope.page.totalSize = 0;

                /*树初始化*/
                $scope.initTree = function(treeId){
                    $http.post('/user/resource/resource_group_tree',{}).then(function(data){
                        var nodes = data.data;
                        var setting = {
                            view: {
                                showLine: true
                            },
                            data: {
                                simpleData: {
                                    enable: true
                                }
                            },
                            callback: {
                                onClick: function(event, treeId, treeNode){
                                    $scope.groupId = treeNode.id;
                                    $scope.entity.group_id = treeNode.id;
                                    $scope.group.pid = treeNode.id;

                                    if($scope.groupId == 0){
                                        $scope.parent_group = null;
                                    }else{
                                        $scope.getParentGroupName(treeNode.id);
                                    }
                                    $scope.getByPage();
                                }
                            }
                        };
                        $.fn.zTree.init($('#'+treeId), setting, nodes);
                    })
                }

                /*资源分页*/
                $scope.getByPage = function(){
                    var params = [];
                    if($scope.groupId!=null&&$scope.groupId!=0){
                        var child = {
                            name:'group_id',
                            op:'eq',
                            value:$scope.groupId
                        };
                        params.push(child);
                    }
                    $http.post('/user/common/common_page',$.param({data:params,model:'resource'})).then(function(data){
                        var data = data.data;
                        if(data.success){
                            $scope.list = data.list;
                            $scope.page.pageIndex = data.pageIndex;
                            $scope.page.totalPage = data.totalPage;
                            $scope.page.totalSize = data.totalSize;
                        }
                    })
                }

                /*新增资源组，打开编辑框*/
                $scope.beginAddGroup = function(){
                    $scope.getParentGroupName($scope.groupId);
                    $('#editModal').modal('show');
                }

                /*修改，打开编辑框*/
                $scope.beginEditGroup = function(){
                    if($scope.groupId==null){
                        errorMessage('请先选择一个资源组节点');
                        return;
                    }
                    if($scope.groupId==0){
                        errorMessage('根节点不能操作');
                        return;
                    }
                    $scope.getOneGroup($scope.groupId);
                    $('#editModal').modal('show');
                }


                /*保存资源组*/
                $scope.saveGroup = function(){
                    if($scope.checkGroup){
                        var url;
                        if($scope.group.id==null){
                            url = '/user/common/common_add';
                        }else{
                            url = '/user/common/common_edit';
                        }
                        $http.post(url,$.param({data:$scope.group,model:'resource_group'})).then(function(data){
                            var data = data.data;
                            if(data.success){
                                successMessage(data.message);
                                $('#editModal').modal('hide');
                                $scope.initTree('tree');
                            }else{
                                errorMessage(data.message);
                            }
                        })
                    }
                }

                /*验证资源组内容*/
                $scope.checkGroup = function(){
                    if($scope.group.group_name==null||$scope.group.group_name==''){
                        $('#group_name').tooltip('show');
                        return false;
                    }
                    $('#group_name').tooltip('hide');
                    return true;
                }

                /*查询单个资源组*/
                $scope.getOneGroup = function(id){
                    $http.get('/user/common/common_get_one',$.param({id:id,model:'resource_group'})).then(function(data){
                        var data = data.data;
                        if(data.success){
                            $scope.group = data.data;
                            $scope.getParentGroupName(data.data.pid);
                            $('#editModal').modal('show');
                        }else{
                            errorMessage(data.message);
                        }
                    })
                }

                /*删除确认*/
                $scope.delConfirm = function(){
                    if($scope.groupId==null){
                        errorMessage('请选择你要删除的组');
                        return;
                    }
                    if($scope.groupId==0){
                        errorMessage('根节点不能删除');
                        return;
                    }
                    var treeObj = $.fn.zTree.getZTreeObj("tree");
                    var nodes = treeObj.getSelectedNodes();
                    if(nodes[0].isParent){
                        errorMessage('该组下面有子组，不能删除');
                        return;
                    }
                    $http.post('/user/resource/count_group',$.param({groupId:$scope.groupId})).then(function(data){
                        var data = data.data;
                        if(data.success){
                            $('#delConfirmModal').modal('show');
                        }else{
                            errorMessage(data.message);
                        }
                    });
                }

                /*删除单个资源组*/
                $scope.removeGroup = function(){
                    $http.post('/user/common/common_delete',$.param({id:$scope.groupId,model:'resource_group'})).then(function(data){
                        var data = data.data;
                        if(data.success){
                            successMessage(data.message);
                            $('#delConfirmModal').modal('hide');
                            $scope.groupId = null;
                            $scope.parent_group = null;
                            $scope.entity.group_id = null;
                            $scope.initTree('tree');
                        }else{
                            errorMessage(data.message);
                        }
                    })
                }

                /*获取父组名称*/
                $scope.getParentGroupName = function(pid){
                    var treeObj = $.fn.zTree.getZTreeObj("tree");
                    var nodes = treeObj.transformToArray(treeObj.getNodes());
                    for(var i in nodes){
                        if(nodes[i].id == pid){
                            $scope.parent_group = nodes[i].name;
                            break;
                        }
                    }
                }

                /*新增资源，打开编辑框*/
                $scope.openResourceModal = function(id){
                    if(id!=null){
                        $scope.getOneResource(id);
                    }else{
                        $scope.entity.is_menu = '0';
                        $('#resourceModal').modal('show');
                    }
                }

                /*保存资源*/
                $scope.saveResource = function(){
                    if($scope.checkResource()){
                        var url;
                        if($scope.entity.id!=null){
                            url = '/user/common/common_add';
                        }else{
                            url = '/';
                        }
                        $http.post(url,$.param({data:$scope.entity,model:'resource'})).then(function(data){
                            var data = data;
                        });
                    }
                }

                /*验证资源*/
                $scope.checkResource = function(){
                    var ids = ['res_name','url'];
                    var flag = true;
                    for(var i in ids){
                        if($scope.entity[ids[i]]==null&&$scope.entity[ids[i]]==''){
                            $('#'+ids[i]).tooltip('show');
                            flag = false;
                        }else{
                            $('#'+ids[i]).tooltip('hide');
                        }
                    }
                    return flag;
                }



                $scope.getOneResource = function(id){
                    console.log(this.resource.id);
                }
            })
        </script>

    </head>
    <body ng-app="app" ng-controller="resource-index" style="padding:10px;">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">资源组</div>
                    <div class="card-body" style="height: 800px">
                        <div class="btn-group">
                            <a class="btn btn-outline-success btn-sm" ng-click="beginAddGroup()">新增</a>
                            <a class="btn btn-outline-warning btn-sm" ng-click="beginEditGroup()">修改</a>
                            <a class="btn btn-outline-danger btn-sm" ng-click="delConfirm()">删除</a>
                        </div>
                        <ul id="tree" class="ztree" ng-init="initTree('tree')"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">资源列表</div>
                    <div class="card-body" style="height: 800px">
                        <button type="button" class="btn btn-secondary" ng-click="openResourceModal()"><span class="oi oi-plus">添加</span></button>
                        <button type="button" class="btn btn-secondary"><span class="oi oi-loop-circular">刷新</span></button>
                        <table class="table table-bordered" ng-init="getByPage()" style="table-layout:fixed">
                            <thead class="thead-light">
                                <tr align="center">
                                    <th width="8%">ID</th>
                                    <th width="10%">资源名</th>
                                    <th width="12%">URL</th>
                                    <th width="8%" class="autoHide">是否菜单</th>
                                    <th width="12%">说明</th>
                                    <th width="15%">备注</th>
                                    <th width="14%">创建时间</th>
                                    <th width="10%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="resource in list" style="text-align: center;">
                                    <td ng-bind="resource.id"></td>
                                    <td ng-bind="resource.res_name" class="autoHide" title="{{resource.res_name}}"></td>
                                    <td ng-bind="resource.url" class="autoHide" title="{{resource.url}}"></td>
                                    <td>
                                        <span ng-if="resource.is_menu==1" class="badge badge-success">是</span>
                                        <span ng-if="resource.is_menu==0" class="badge badge-light">否</span>
                                    </td>
                                    <td ng-bind="resource.description" class="autoHide" title="{{resource.description}}"></td>
                                    <td ng-bind="resource.remark" class="autoHide" title="{{resource.remark}}"></td>
                                    <td ng-bind="resource.create_date" class="autoHide" title="{{resource.create_date}}"></td>
                                    <td>
                                        <a class="btn btn-light btn-sm" ng-click="getOneResource()"><span class="oi oi-pencil" title="icon name" aria-hidden="true"></span></a>
                                        <a class="btn btn-light btn-sm"><span class="oi oi-trash" title="icon name" aria-hidden="true"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="container">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="btn btn-light">«首页</a>
                                </li>
                                <li class="page-item">
                                    <a class="btn btn-light">&lt;上一页</a>
                                </li>
                                <li class="page-item">
                                    <a class="btn btn-light">当前页：</a>
                                </li>
                                <li class="page-item">
                                    <input type="number" class="form-control" aria-describedby="basic-addon1" ng-model="page.pageIndex" style="width:100px;text-align: center">
                                </li>
                                <li class="page-item">
                                    <a class="btn btn-light">下一页&gt;</a>
                                </li>
                                <li class="page-item">
                                    <a class="btn btn-light">尾页»</a>
                                </li>
                                <li class="page-item">
                                    <a class="btn btn-light">共<span ng-bind="page.totalPage"></span>页，<span ng-bind="page.totalSize"></span>条记录</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="editModal" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 600px;max-height: 800px">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #428bca">
                        <h4 class="modal-title">编辑资源组</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table width="100%" cellpadding="5">
                            <thead>
                                <tr>
                                    <td>
                                        <div class="input-group" data-toggle="tooltip" data-placement="top" title="必填项" id="group_name">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">组名</div>
                                            </div>
                                            <input type="text" class="form-control" ng-model="group.group_name">
                                            <div class="input-group-append">
                                                <span class="input-group-text" style="color: red">*</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">父组</div>
                                            </div>
                                            <input type="text" class="form-control" ng-model="group.pid" ng-show="false">
                                            <input type="text" class="form-control" ng-model="parent_group" ng-disabled="true">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">说明</div>
                                            </div>
                                            <input type="text" class="form-control" ng-model="group.description">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">备注</div>
                                            </div>
                                            <textarea rows="5" class="form-control" ng-model="group.remark"></textarea>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="saveGroup()">保存</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="delConfirmModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">删除确认</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>即将删除数据，确定吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="removeGroup()">删除</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="resourceModal" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 600px;max-height: 800px">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #428bca">
                        <h4 class="modal-title">编辑资源</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table width="100%" cellpadding="5">
                            <thead>
                            <tr>
                                <th width="15%"><label>资源名</label></th>
                                <td>
                                    <div class="input-group" data-toggle="tooltip" data-placement="top" title="必填项" id="res_name">
                                        <input type="text" class="form-control" ng-model="entity.res_name">
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="color: red">*</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>资源名</label></th>
                                <td>
                                    <div class="input-group" data-toggle="tooltip" data-placement="top" title="必填项" id="url">
                                        <input type="text" class="form-control" ng-model="entity.url">
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="color: red">*</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>是否菜单</label></th>
                                <td>
                                    <div class="input-group">
                                        <select class="form-control" ng-model="entity.is_menu">
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="color: red">*</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>所属组</label></th>
                                <td>
                                    <div class="input-group">
                                        <input class="form-control" ng-model="entity.group_id" ng-show="false">
                                        <input class="form-control" ng-model="parent_group" ng-disabled="true">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>说明</label></th>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="entity.description">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>备注</label></th>
                                <td>
                                    <div class="input-group">
                                        <textarea rows="5" class="form-control" ng-model="entity.remark"></textarea>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="saveResource()">保存</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>