<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/public/static/js/messenger/messenger.css">
        <link rel="stylesheet" type="text/css" href="/public/static/js/messenger/messenger-theme-future.css">
        <link rel="stylesheet" type="text/css" href="/public/static/js/bootstrap4.0/css/bootstrap.css" />

        <script src="/public/static/js/jquery-3.3.1.min.js"></script>
        <script src="/public/static/js/popper.min.js"></script>
        <script src="/public/static/js/bootstrap4.0/js/bootstrap.js"></script>
        <script src="/public/static/js/messenger/messenger.min.js"></script>
        <script src="/public/static/js/global.js"></script>
    </head>
    <body>
        <div style="text-align: center">
            <table align="center" style="margin-top:120px;height:200px;width:500px;" cellspacing="5" class="table-info">
                <tr>
                    <th align="center" width="60%" colspan="2"><span style="font-size: 22px">测试系统</span></th>
                </tr>
                <tr>
                    <th width="10%"><label>账户:</label></th>
                    <td><input id="account" class="form-control"></td>
                </tr>
                <tr>
                    <th><label>密码:</label></th>
                    <td><input id="password" type="password" class="form-control"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="rememberMe" value="remember" /></td>
                    <td align="left">记住我</td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button class="btn btn-success btn-lg" onclick="login()">登录</button>

                        <button class="btn btn-danger btn-lg" onclick="reset()">重置</button>
                    </th>
                </tr>
            </table>
        </div>

        <script>
            $(function(){
                if('{$account}'!=null){
                    $('#account').val('{$account}');
                }
            })

            function login(){
                var account = $('#account').val();
                var password = $('#password').val();
                var userPatrn=/^(\w){4,15}$/;
                var passPatrn=/^(\w){6,20}$/;
                if (!userPatrn.exec(account)){
                    errorMessage("账户格式错误！");
                    return;
                }
                if (!passPatrn.exec(password)){
                    errorMessage("密码格式错误！");
                    return;
                }
                var user = {};
                user.account = account;
                user.password = password;
                $.post('/user/basic/verify_user',{user:user,saveMe:$('#rememberMe').val()},function(data){
                    if(data.success){
                        window.location.href = '/user/index/index';
                    }else{
                        errorMessage(data.message);
                    }
                })
            }

            function reset(){
                $('#account').val('');
                $('#password').val();
            }

        </script>
    </body>
</html>